.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.chat-input {
 width: 70%;
 font-size: medium;
 padding: 10px;
 font-size: 16px;
 border: 2px solid #FFF;
}

.chatWindowClass {
 width: 95%;
 padding: 15px;
 height: 600px;
 overflow-y: scroll;
 display: flex;
 flex-direction: column-reverse;
}

.chat-input-form-class {
position: absolute;
bottom: 0;
width: 100%;
}

.chatClass {
 width:70%;
 color: #333;
 background-color: rgba(175,229,255,.5);
 padding: 15px;
 margin-bottom: 15px;
 border-radius: 5px;
}

.userChatClass {
    float: right;
}

.botChatClass {
    float: left;
}

.submit-button button {
 padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}

.submit-button button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
